# 循环语句
Python中的循环语句有 for 和 while， Python循环语句的控制结构图如下所示

![循环语句](./image/while_loop_1.png)

## while循环
* while 判断条件:
<br>&nbsp;&nbsp;&nbsp;&nbsp;语句
* 同样需要注意冒号和缩进。另外，在Python中没有do..while循环

以下实例使用了 while 来计算 1 到 100 的总和

In [1]:
n = 100
sum = 0
counter = 1
while counter <= n:
    sum += counter
    counter += 1
 
print("1 到 %d 之和为: %d" % (n,sum))

1 到 100 之和为: 5050

### 无限循环
我们可以通过设置条件表达式永远不为 false 来实现无限循环
无限循环在服务器上客户端的实时请求非常有用

In [2]:
var = 1
while var == 1 :  # 表达式永远为 true
   num = int(input("输入一个数字  :"))
   print ("你输入的数字是: ", num)
 
print ("Good bye!")

输入一个数字  :2
你输入的数字是:  2
输入一个数字  :3
你输入的数字是:  3
输入一个数字  :4
你输入的数字是:  4
输入一个数字  :d

ValueError: invalid literal for int() with base 10: 'd'

### while 循环使用 else 语句
在 while … else 在条件语句为 false 时执行 else 的语句块

In [3]:
count = 0
while count < 5:
   print (count, " 小于 5")
   count = count + 1
else:
   print (count, " 大于或等于 5")

0  小于 5
1  小于 5
2  小于 5
3  小于 5
4  小于 5
5  大于或等于 5

## for语句
* Python for循环可以遍历任何序列的项目，如一个列表或者一个字符串
* for循环的一般格式如下
* for 变量 in 可枚举变量:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;语句
    <br>else:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;语句

In [4]:
languages = ["C", "C++", "Perl", "Python"]
for x in languages:
    print (x)

C
C++
Perl
Python

break语句，用于跳出当前循环体

In [5]:
sites = ["Baidu", "Google","Morningstar","Taobao"]
for site in sites:
    if site == "Morningstar":
        print("晨星")
        break
    print("循环数据 " + site)
else:
    print("没有循环数据!")
print("完成循环!")

循环数据 Baidu
循环数据 Google
晨星
完成循环!

### range()函数
如果你需要遍历数字序列，可以使用内置range()函数。它会生成数列

In [6]:
for i in range(10):
    print(i)
for i in range(5, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9
5
6
7
8
9

也可以使range以指定数字开始并指定不同的增量(甚至可以是负数，有时这也叫做'步长'):

In [8]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

In [11]:
for i in range(10, 3, -2):
    print(i)

10
8
6
4

您可以结合range()和len()函数以遍历一个序列的索引,如下所示

In [16]:
a = ['Google', 'Baidu', 'Morningstar', 'Taobao', 'QQ']
for i in range(len(a)):
    print(i, a[i])

0 Google
1 Baidu
2 Morningstar
3 Taobao
4 QQ

通过range()函数生成一个列表

In [3]:
print(list(range(7)))

[0, 1, 2, 3, 4, 5, 6]

<font color='red'><b>Python内置有枚举器: enumerate，使用这个更方便：</b></font>

In [2]:
for index, member in  enumerate(['Google', 'Baidu', 'Morningstar', 'Taobao', 'QQ']):
    print(index, member)

0 Google
1 Baidu
2 Morningstar
3 Taobao
4 QQ

### break和continue语句及循环中的else子句
* break 语句可以跳出 for 和 while 的循环体。
* continue语句，跳过当前循环语句，继续下一次循环。
* 如果你从 for 或 while 循环中终止，任何对应的循环 else 块将不执行

In [1]:
for letter in 'Morningstar':     # 第一个实例
   if letter.lower() == 'a':         # 对字母做判断，建议先进行lower或upper转换，这样可以匹配更多情景
      break
   print ('当前字母为 :', letter)
  
var = 10                    # 第二个实例
while var > 0:              
   print ('当期变量值为 :', var)
   var = var - 1
   if var == 5:
      break
 
print ("Good bye!")

当前字母为 : M
当前字母为 : o
当前字母为 : r
当前字母为 : n
当前字母为 : i
当前字母为 : n
当前字母为 : g
当前字母为 : s
当前字母为 : t
当期变量值为 : 10
当期变量值为 : 9
当期变量值为 : 8
当期变量值为 : 7
当期变量值为 : 6
Good bye!

In [4]:
for letter in 'Morningstar':     # 第一个实例
   if letter.lower() == 'a':        # 字母为 o 时跳过输出
      continue
   print ('当前字母 :', letter)
 
var = 10                    # 第二个实例
while var > 0:              
   var = var -1
   if var == 5:             # 变量为 5 时跳过输出
      continue
   print ('当前变量值 :', var)
print ("Good bye!")

当前字母 : M
当前字母 : o
当前字母 : r
当前字母 : n
当前字母 : i
当前字母 : n
当前字母 : g
当前字母 : s
当前字母 : t
当前字母 : r
当前变量值 : 9
当前变量值 : 8
当前变量值 : 7
当前变量值 : 6
当前变量值 : 4
当前变量值 : 3
当前变量值 : 2
当前变量值 : 1
当前变量值 : 0
Good bye!

循环语句可以有 else 子句，它在穷尽列表(以for循环)或条件变为 false (以while循环)导致循环终止时被执行,但循环被break终止时不执行。

如下实例用于查询质数的循环例子:

In [5]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, '等于', x, '*', n//x)
            break
    else:
        # 循环中没有找到元素
        print(n, ' 是质数')

2  是质数
3  是质数
4 等于 2 * 2
5  是质数
6 等于 2 * 3
7  是质数
8 等于 2 * 4
9 等于 3 * 3

### Pass语句
Python pass是空语句，是为了保持程序结构的完整性。一般情况下，只是为了防止语法错误，用于做逻辑块预留。

pass 不做任何事情，一般用做占位语句，如下实例

In [8]:
while True:
    pass  #等待键盘中断，在jupyte notebook, 需要点击interrupt按钮

KeyboardInterrupt:

In [9]:
for letter in 'Morningstar': 
   if letter == 'o':
      pass
      print ('执行 pass 块')
   print ('当前字母 :', letter)
 
print ("Good bye!")

当前字母 : M
执行 pass 块
当前字母 : o
当前字母 : r
当前字母 : n
当前字母 : i
当前字母 : n
当前字母 : g
当前字母 : s
当前字母 : t
当前字母 : a
当前字母 : r
Good bye!

for 循环 1-100 所有整数的和

In [10]:
n = 0
sum = 0
for n in range(0,101):# n 范围 0-100
    sum += n
print(sum)

5050

In [18]:
import pandas as pd
from IPython.display import display, HTML

df = pd.read_csv('./csv/vanameextraction_168203073.csv', encoding='utf-16', sep="\t")
for index, row in df.head().iterrows():
    print('row: {0}, docrawname is :{1}'.format(index, row[3]))
display(df.head())
display(HTML(df.head().to_html()))

row: 0, docrawname is :VAUSA058DQ
row: 1, docrawname is :VAUSA058DL
row: 2, docrawname is :VAUSA058DH
row: 3, docrawname is :VAUSA00C6M
row: 4, docrawname is :VAUSA00EFZ

,Unnamed: 0,docid,policyid,subaccountid,secid,status,dmname,docrawname
0,0,168203073,VPUSA0009R,VAUSA058DQ,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
1,1,168203073,VPUSA000AQ,VAUSA058DL,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
2,2,168203073,VPUSA000G6,VAUSA058DH,FVUSA04ABP,1,Putnam VT Capital Opportunities Fund Class IB,putnam vt capital opportunities fund  class ib
3,0,168203073,VPUSA0009R,VAUSA00C6M,FVUSA001Q9,1,Putnam VT Diversified Income Fund Class IB,putnam vt diversified income fund  class ib
4,1,168203073,VPUSA000AQ,VAUSA00EFZ,FVUSA001Q9,1,Putnam VT Diversified Income Fund Class IB,putnam vt diversified income fund  class ib

99乘法表

In [19]:
i=1
while i<=9:
     #里面一层循环控制每一行中的列数
     j=1
     while j<=i:
          mut =j*i
          print("%d*%d=%d"%(j,i,mut), end="  ")
          j+=1
     print("")
     i+=1

1*1=1
1*2=2  2*2=4
1*3=3  2*3=6  3*3=9
1*4=4  2*4=8  3*4=12  4*4=16
1*5=5  2*5=10  3*5=15  4*5=20  5*5=25
1*6=6  2*6=12  3*6=18  4*6=24  5*6=30  6*6=36
1*7=7  2*7=14  3*7=21  4*7=28  5*7=35  6*7=42  7*7=49
1*8=8  2*8=16  3*8=24  4*8=32  5*8=40  6*8=48  7*8=56  8*8=64
1*9=9  2*9=18  3*9=27  4*9=36  5*9=45  6*9=54  7*9=63  8*9=72  9*9=81

### 冒泡排序
解析：很经典的排序方式，从数组中的第0个元素开始，与后面一个元素进行比较，如果前面的元素大于后面的元素，就调换位置，循环到最后（即：a0与a1比较得到结果后，a1与a2比较...），最大的元素被换到数组最末尾，剔除掉最后一个元素，在余下的数组元素中进行上述操作，到最后，整个数组呈现从小到大的排序

In [23]:
def paixu(li) :
    max = 0
    for ad in range(len(li) - 1):
        for x in range(len(li) - 1 - ad):
            if li[x] > li[x + 1]:
                max = li[x]
                li[x] = li[x + 1]
                li[x + 1] = max
            else:
                max = li[x + 1]
    print(li)
paixu([41,23344,9353,5554,44,7557,6434,500,2000])

[41, 44, 500, 2000, 5554, 6434, 7557, 9353, 23344]

很多时候，我们不需要自己写冒泡排序算法，使用sorted即可

In [24]:
print(sorted([41,23344,9353,5554,44,7557,6434,500,2000]))

[41, 44, 500, 2000, 5554, 6434, 7557, 9353, 23344]